html,body {
    height: 100%;
    background-image:url(/Proyecto\ Final/IMAGENES/principal_user.jpg);
    position: absolute;
    top: 0;
    left: 0;
    background-position: center 0;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    font-family: Raleway ,sans-serif;
}

div#contacta.row{
    font-family: Raleway ,sans-serif;
    background-color: white;
    margin-left:20px;
    margin-right:20px;
    margin-top:40px;
    height:400px;
}

.seccion{
    margin-left:115px;
    margin-top:25px;
    padding-left:0px;
    font-weight: bold;
}

img#imagen{
    position:left;
    width:450px;
    padding-top:30px;
    padding-left:40px;
}

form{
    height:300px;
}

div.col-md-7{
    padding-left:60px;
    padding-top:80px;
}

div.row input{
    color:#404040;
    margin-right:30px;
    margin-bottom:20px;
    background-color: #cccccc;
    border:0px;
    padding-left:10px;
}

div.row textarea{
    color:#404040;
    background-color: #cccccc;
    border:0px;
    padding-top:5px;
    padding-left:10px;

}

input.botones{
    padding-right:10px;
    height:30px;
    width:85px;
    font-weight: bold;
}
