#Menu
  .nav-link:hover{
    color:black;
    font-family: Raleway,sans-serif;
    margin-bottom:0px; 
  }
  
  a.nav-link{
    text-decoration: none;
    font-size: 18px;
    cursor: pointer;
    position: relative;
    color: white;
    font-family: Raleway ,sans-serif;
    margin-bottom:0px;
  }
  
  img#logo{
    float: left;
    width:300px;
  }

.container{
    margin-top:20px;
    height:600px;
    position:relative;
}

  img#usuario{
    margin-top:25px;
    margin-left:10px;
    width:38px;
    height:38px;
  }

  nav.main-navigation {
    position: relative;
  }
  
  nav.main-navigation ul.nav-list {
    margin: 0;
    padding: 0;
    list-style: none;
    position: relative;
    text-align: right;
  }
  
  
  .nav-list li.nav-list-item {
    display: inline-block;
    line-height: 40px;
    margin-left: 30px;
    margin-top: 15px;
    margin-bottom:0px;
  }
  
  div.row{
    height: 50px;
    margin-bottom:0px;
  }
  
  nav.col-md-10{
    height: 100px;
  }
  
  .col-md-2{
    height: 100px;
  }
  
  .nav-list{
    padding-left:230px;
    padding-right:100px;
    margin-top:20px;
    margin-bottom:0px;
  }

div.row hr{
    margin-top: 145px;
    border-top: 1px solid white;
}
form#salir{
  margin-right:50px;
  float:right;
  width: 50px;
}


a#vehiculos.nav-link {
  background-color: white;
}