html,body {
  height: 100%;
  background-image:url(/Proyecto\ Final/IMAGENES/principal_admin.jpg);
  position: absolute;
  top: 0;
  left: 0;
  background-position: center 0;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
}

.container{
  margin-top:20px;
}

#Menu
a.menuadmin{
  color:white;
  font-family: "Tahoma", "Geneva", sans-serif; 
  margin-bottom:0px; 
}
a.nav-link{
  text-decoration: none;
  font-size: 18px;
  cursor: pointer;
  position: relative;
  color: white;
  font-family: "Tahoma", "Geneva", sans-serif;
  margin-bottom:0px;
}

#logo{
float: left;
width:300px;
}

nav.main-navigation {
  position: relative;
}

nav.main-navigation ul.nav-list {
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;
  text-align: right;
}

.nav-list li.nav-list-item {
  display: inline-block;
  line-height: 40px;
  margin-left: 30px;
  margin-top: 15px;
  margin-bottom:0px;
}

div.row{
  height: 50px;
  margin-bottom:0px;
}

nav.col-md-10{
  height: 100px;
}

.col-md-2{
  height: 100px;
}

.col-md-2 img{
margin-top:25px;
width:38px;
height:38px;
}

.nav-list{
  padding-left:250px;
  padding-right:200px;
  margin-bottom:0px;
}

.row hr{
  margin-bottom: 30px;;
  border: 0;
  border-top: 1px solid white;

}