html,body {
  height: 100%;
  background-image:url(/Proyecto\ Final/IMAGENES/principal_admin.jpg);
  position: absolute;
  top: 0;
  left: 0;
  background-position: center 0;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}

